@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Fresh Bread Drive<br />
    Iowa City , IA 52245<br />
    <abbr title="Phone">P: </abbr>
    319.555.0100
</address>