@{
    ViewBag.Title = "Sandwich Shop";
}


<h1>Welcome to the best sandwhich shop that technology can make!</h1>
<p>Here are Saindwich, we use an advanced algorithm to create the best possible sandwhich from over 30 different toppings! Order online now or stop in store <br />
    Orders can be placed online and picked up in store. You cna check on the status of any of your orders by clicking on the "Orders" section at the top</p>
<img src="https://realfood.tesco.com/media/images/RFO-1400x919-ChickenClubSandwich-0ee77c05-5a77-49ac-a3bd-4d45e3b4dca7-0-1400x919.jpg" alt="sandwich image" style="max-width: 60%; margin: auto;"/>
